$typo: (
    emblema: 'Emblema One',
    jaini: 'Jaini',
    lora: 'Lora',
    noto: 'Noto Sans JP',
    raleway: 'Raleway',
    play: 'Playfair Display',
    dancing: 'Dancing Script',
    akaya: 'Akaya Kanadaka',
    akronim: 'Akronim',
    alex: 'Alex Brush',
    allura: 'Allura',
    almendra: 'Almendra SC',
    ballet: 'Ballet',
    baker: 'Baskervville SC',
    cesar: 'Caesar Dressing',
    yuji: 'Yuji Syuku',
    playwrite: 'Playwrite NG Modern'
);

$colores: (
    negro: #2A2A2A,
    blanco: #F5F5F5,
    amarillo: #E9C46A,
    violeta: #94778B,
    cyan: #50808E,
    naranja: #F58A07,
    azulado: #7286A0,
    pink: #7F7CAF,
    )

